body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    color: #659dda;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #89a6c4;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  td button {
    padding: 6px 12px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
   
  }
  button{
    background-color: #89a6c4;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    margin: 0;
    padding: 12px 24px; 
    border-radius: 4px;
  }
  
  td button:last-child {
    background-color: #b43a47; 
    margin-right: 10px;
  }

  td button:first-child {
    background-color: #28a745; 
    margin-right: 10px;

  }
  
  a {
    text-decoration: none;
    color: #3e78b6;
  }
  
  td button:hover {
    opacity: 0.8;
  }

  .td-name{
    cursor: pointer;
    color: #3e78b6;

  }
  
  .td-name:hover {
    text-decoration: underline;
  }

  .h2{
    color: #3e78b6;
  }

  /* Pagination styles */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    background-color: #89a6c4;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .pagination .active {
    background-color: #0056b3;
    cursor: default;
  }