body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0; 
}

.navbar {
  background-color: #89a6c4;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1; 
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-left: auto; 
  margin-right: 20px; 
}

.nav-button:hover {
  background-color: #ff3333;
}

.content {
  padding-top: 60px; 
}

.user-name {
  color: white;
  margin-right: 20px; 
}
